.nav-header {
  background-color: #000;
  z-index: 2;

  .custom-item {
    color: #fff;
    font-size: $font-size-base;

    &.active {
      color: $primary-color;
      font-family: $font-family;
    }
  }
}

.custom-header {
  background-color: $primary-color;
}

.zoomed-image {
  transform: scale(1.5);
}
